

.themedark {
    --bg-color: #171614;
    --dark: rgba(48, 48, 48, 0.6);
    --light: rgba(68, 68, 68, 0.6);
    --input-bg: rgba(88,88,88,0.6);
    --input: rgba(255, 255, 255, 0.646);
    --input-highlight: rgba(255, 255, 255, 0.865);
}
.themelight {
    $body-color: white;
    --bg-color: #dfe7ef;
    --dark: rgb(215, 229, 244);
    --light: #eef3f7;
    --input-bg: #eef3f7a8;
    --input: rgb(59, 108, 107);
    --input-highlight: rgb(117, 162, 182);
}
.themelight, .themedark {
    color: var(--input) 
}
.list-group-item {
    background-color: var(--light) !important;
}
// Bootstrap and its default variables
@import '../../node_modules/bootstrap/scss/bootstrap';
// BootstrapVue and its default variables
@import '../../node_modules/bootstrap-vue/src/index.scss';